.popup-builder
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup-builder .bar
{
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #BDC0CD;
    height: 42px;
    text-align: right;
    padding: 7px 0;
}
.popup-builder .bar .button
{
    overflow: hidden;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #2D3156;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 17px;
    min-width: 20px;
    cursor: pointer;
    border-radius: 3px;
}
.popup-builder .iframeHolder
{
    position: absolute;
    top: 57px;
    bottom: 0px;
    left: 300px;
    right: 0;
}
.popup-builder .iframeHolder iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.popup-builder > .left
{
    position: absolute;
    left: 0;
    top: 57px;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    border-right: 1px solid #999;
}