body, html{
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.new-york-times{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.new-york-times .header{
    background-color: #252527;
    padding: 10px 46px 10px 50px;
    position: relative;
}
.new-york-times .header .logo{
    width: 50px;
    height: 56px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.new-york-times .header .logo svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 26px;
    color: #fff;
}
.new-york-times .header input{
    line-height: 36px;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
}
.new-york-times .header i{
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
.new-york-times .header i svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
}
.new-york-times .header > i > b{
    background-color: #fa3e3e;
    border-radius: 3px;
    color: #fff;
    padding: 1px 5px 1px 4px;
    font-style: normal;
    position: absolute;
    top: 7px;
    left: 27px;
    transform: translate(-50%, -50%);
    font-size: 11px;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13px;
    font-weight: normal;
}
.new-york-times .header > i > b:empty{
    display: none;
}
.new-york-times .header > b{
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 3px 3px 0;
    background-color: #49A9E2;
    color: #ffF;
    cursor: pointer;
}
.new-york-times .header > b svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
}
.new-york-times > .content{
    display: block;
    flex: 1;
    overflow: auto;
    position: relative;
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
}
.new-york-times .content b.loader{
    width: 40px;
    height: 40px;
    display: block;
    margin: 20px auto;
    position: relative;
}
.new-york-times .content b.loader svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
}
.new-york-times .catalog > .list{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.new-york-times .content .paging{
    text-align: center;
    display: block;
    font-weight: normal;
    color: #252527;
    padding: 10px;
}
.new-york-times .content .paging b{
    line-height: 30px;
    display: inline-block;
    min-width: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
    font-weight: normal;
    font-size: 13px;
    box-sizing: border-box;
    padding: 0 5px;
    transition: background 200ms;
    background-color: #fff;
    transition-property: background-color, color;
}
.new-york-times .content .paging b:hover{
    background-color: #252527;
    color: #fff;
}
.new-york-times .content .paging b.selected{
    background-color: #252527;
    color: #fff;

}
.new-york-times .catalog-item{
    width: 270px;
    position: relative;
    background-color: #fff;
    height: 240px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 10px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    /* padding-left: 110px; */
    /* padding-right: 10px; */
    /* float: left; */
    /* display: inline-block; */
    transition: background-color 400ms;
}
.new-york-times .catalog-item:hover{
    background-color: #252527;
}
.new-york-times .catalog-item .date{
    position: absolute;
    font-size: 12px;
    text-decoration: none;
    bottom: 10px;
    left: 10px;
    color: #666;
}
.new-york-times .catalog-item .section{
    position: absolute;
    font-size: 12px;
    text-decoration: none;
    top: 10px;
    left: 0px;
    padding: 0 10px;
    line-height: 24px;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-style: normal;
}
.new-york-times .catalog-item .title{
    line-height: 17px;
    font-size: 12px;
    padding: 5px;
    color: #212121;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.new-york-times .catalog-item:hover .title{
    color: #017ADB;
}
.new-york-times .catalog-item .msrp{
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    text-decoration: line-through;
}
.new-york-times .catalog-item .price{
    color: #FF6600;
    font-size: 12px;
    font-style: normal;
}

.new-york-times .catalog-item img{
    width: 270px;
    height: 140px;
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.new-york-times .catalog-item b{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #017ADB;
}
.new-york-times .catalog-item b svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px;
}
